<!-- 2.3版本过老,需要切换到更新的版本 -->
<!-- how to solve -->
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
                      http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	version="3.1" metadata-complete="true">
	<!-- 配置servlet版本为3.1 -->
	<!-- 配置DispatcherServlet 配置springmvc中央控制器的servlet -->
	<servlet>
		<servlet-name>seckill-dispatcher</servlet-name>
		<servlet-class>org.springframework.web.servlet.Dispatcher</servlet-class>
		<!-- 中央控制的名字 -->
		<!-- 配置springMVC需要加载的配置文件 有spring-dao.xml spring-service.xml, spring-web.xml文件 
			这几个框架整合的顺序：mybatis整合到spring，再把spring到spingmvc -->
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath:spring/spring-*.xml</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>seckill-dispatcher</servlet-name>
		<!-- -->
		<!-- 默认匹配所有的请求 -->
		<url-pattern>/</url-pattern> <!-- 不要有.do后缀，不符合restful设计要求 -->
	</servlet-mapping>
</web-app>
